:root, body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

:root {
  --sm-shadow-x: 0.1rem;
  --sm-shadow-y: 0.1rem;
  --sm-shadow-blur: 1rem;
  --sm-shadow-color: #aaa;
  --sm-border-radius: 0.5em;
}

/* :root.dark {
  background-color: black;
  color: white;
} */

#app {
  min-height: 100vh;
}