:root, body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

:root {
  --sm-shadow-x: 0.1rem;
  --sm-shadow-y: 0.1rem;
  --sm-shadow-blur: 1rem;
  --sm-shadow-color: #aaa;
  --sm-border-radius: 0.5em;

  --dark-mode-text-color: #D4D4D4;
  --dark-mode-background-color: #373737;
}

:root.dark {
  background-color: #222;
}

@media screen and (min-width: 460px) {
  :root.dark {
    background-color: #000;
  }
}

#app {
  min-height: 100vh;
}